@model GAASquadSelector.Models.SquadSelector
@using GAASquadSelector.Controllers
@using GAASquadSelector.Models


@{
    ViewBag.Title = "Index";
    SquadSelectorController ssc = new SquadSelectorController();
}
@using (Html.BeginForm())
{
    <h2>Squad Selector</h2>

    <div class="col-md-9">
        <table class="table">
            <tr>
                <th>
                    @Html.ActionLink("First Name", "Index", new { sortOrder = ViewBag.FirstNameSortParm })
                </th>
                <th>
                    @Html.ActionLink("Last Name", "Index", new { sortOrder = ViewBag.LastNameSortParm })
                </th>
                <th>
                    @Html.ActionLink("Position", "Index", new { sortOrder = ViewBag.PositionSortParm })
                </th>

            </tr>

            @foreach (var item in Model.Players)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Position)
                    </td>
                    <td>
                        @Html.CheckBoxFor(m => m.Checked)
                        @Html.EnumDropDownListFor(m => m.positions)
                    </td>
                </tr>
            }
        </table>
    </div>

    @Html.AntiForgeryToken()
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <h2>Squad Name: </h2>
            @Html.TextAreaFor(m => m.Name)
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
}

<div class="col-md-3">
    <table class="table">
        @foreach (var item in Model.Squads) // Remember to save userID against squads
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.ActionLink("View Squad", "View", new { squadID = item.SquadID })
                </td>
            </tr>
        }
    </table>
</div>