@model GAASquadSelector.Models.SquadSelector
@using GAASquadSelector.Controllers

@{
    ViewBag.Title = "View";
}

<h2>Squad Selector</h2>

<table class="table" class="col-sm-4">
    <tr>
        <th>
            @Html.ActionLink("First Name", "Index", new { sortOrder = ViewBag.FirstNameSortParm })
        </th>
        <th>
            @Html.ActionLink("Last Name", "Index", new { sortOrder = ViewBag.LastNameSortParm })
        </th>
        <th>
            @Html.ActionLink("Position", "Index", new { sortOrder = ViewBag.PositionSortParm })
        </th>
        <th>
            
        </th>
    </tr>



    @foreach (var player in Model.Players)
    {
        <tr>
            <td>
                @Html.DisplayFor(p => player.FirstName)
            </td>
            <td>
                @Html.DisplayFor(p => player.LastName)
            </td>
            <td>
                @Html.DisplayFor(p => player.Position)
            </td>

        </tr>

    }
</table>