@model GAASquadSelector.Models.Selector

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Selector</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Players.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Players.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Squad.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Squad.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Position)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Position)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SelectionID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
